@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --custom-bg: hsl(238, 100%, 12%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--custom-bg);
  font-family: Arial, Helvetica, sans-serif;
}
